In [22]:
import numpy as np
import pandas as pd

In [23]:
df_train1 = pd.read_csv("./data/train_FD001.txt", sep = " ", header= None).drop(columns=[26,27])
df_test1 = pd.read_csv("./data/test_FD001.txt", sep = " ", header = None).drop(columns=[26,27])
df_RUL1 = pd.read_csv("./data/RUL_FD001.txt", sep=" ", header = None).drop(columns=[1])

In [24]:
df_train2 = pd.read_csv("./data/train_FD002.txt", sep = " ", header= None).drop(columns=[26,27])
df_test2 = pd.read_csv("./data/test_FD002.txt", sep = " ", header = None).drop(columns=[26,27])
df_RUL2 = pd.read_csv("./data/RUL_FD002.txt", sep=" ", header = None).drop(columns=[1])

In [25]:
df_train3 = pd.read_csv("./data/train_FD003.txt", sep = " ", header= None).drop(columns=[26,27])
df_test3 = pd.read_csv("./data/test_FD003.txt", sep = " ", header = None).drop(columns=[26,27])
df_RUL3 = pd.read_csv("./data/RUL_FD003.txt", sep=" ", header = None).drop(columns=[1])

In [26]:
df_train4 = pd.read_csv("./data/train_FD004.txt", sep = " ", header= None).drop(columns=[26,27])
df_test4 = pd.read_csv("./data/test_FD004.txt", sep = " ", header = None).drop(columns=[26,27])
df_RUL4 = pd.read_csv("./data/RUL_FD004.txt", sep=" ", header = None).drop(columns=[1])

In [27]:
new_column_names = [
    "Engine_no",
    "Cycle_no",
    "Setting_1",
    "Setting_2",
    "Setting_3",
    "Fan_inlet_temperature",
    "LPC_outlet_temperature",
    "HPC_outlet_temperature",
    "LPT_outlet_temperature",
    "Fan_inlet_pressure",
    "Bypass_duct_pressure",
    "HPC_outlet_pressure",
    "Physical_fan_speed",
    "Physical_core_speed",
    "Engine_pressure_ratio",
    "HPC_outlet_static_pressure",
    "Fuel_flow_ratio",
    "Fan_speed",
    "Core_speed",
    "Bypass_ratio",
    "Burner_fuel_air_ratio",
    "Bleed_enthalpy",
    "Required_fan_speed",
    "Required_fan_conversion_speed",
    "High_pressure_cool_air_flow",
    "Low_pressure_cool_air_flow"
]

In [28]:
rul_cols = ["RUL"]
df_train1.columns = new_column_names
df_test1.columns = new_column_names
df_RUL1.columns = rul_cols
df_train2.columns = new_column_names
df_test2.columns = new_column_names
df_RUL2.columns = rul_cols
df_train3.columns = new_column_names
df_test3.columns = new_column_names
df_RUL3.columns = rul_cols
df_train4.columns = new_column_names
df_test4.columns = new_column_names
df_RUL4.columns = rul_cols

In [55]:
df_train2.tail()

,Engine_no,Cycle_no,Setting_1,Setting_2,Setting_3,Fan_inlet_temperature,LPC_outlet_temperature,HPC_outlet_temperature,LPT_outlet_temperature,Fan_inlet_pressure,...,Fuel_flow_ratio,Fan_speed,Core_speed,Bypass_ratio,Burner_fuel_air_ratio,Bleed_enthalpy,Required_fan_speed,Required_fan_conversion_speed,High_pressure_cool_air_flow,Low_pressure_cool_air_flow
53754,260,312,20.0037,0.700,100.0,491.19,608.79,1495.60,1269.51,9.35,...,314.05,2389.02,8169.64,9.3035,0.03,369,2324,100.00,24.36,14.5189
53755,260,313,10.0022,0.251,100.0,489.05,605.81,1514.32,1324.12,10.52,...,371.22,2388.42,8245.36,8.7586,0.03,374,2319,100.00,28.10,16.9454
53756,260,314,25.0041,0.620,60.0,462.54,537.48,1276.24,1057.92,7.05,...,163.74,2030.33,7971.25,11.0657,0.02,310,1915,84.93,14.19,8.5503
53757,260,315,25.0033,0.622,60.0,462.54,537.84,1272.95,1066.30,7.05,...,164.37,2030.35,7972.47,11.0537,0.02,311,1915,84.93,14.05,8.3729
53758,260,316,35.0036,0.840,100.0,449.44,556.64,1374.61,1145.52,5.48,...,183.09,2390.38,8185.35,9.3998,0.02,338,2223,100.00,14.75,8.8446

In [56]:
df_test2.tail()

,Engine_no,Cycle_no,Setting_1,Setting_2,Setting_3,Fan_inlet_temperature,LPC_outlet_temperature,HPC_outlet_temperature,LPT_outlet_temperature,Fan_inlet_pressure,...,Fuel_flow_ratio,Fan_speed,Core_speed,Bypass_ratio,Burner_fuel_air_ratio,Bleed_enthalpy,Required_fan_speed,Required_fan_conversion_speed,High_pressure_cool_air_flow,Low_pressure_cool_air_flow
33986,259,119,35.0015,0.8403,100.0,449.44,555.56,1366.01,1129.47,5.48,...,183.05,2388.39,8088.36,9.3215,0.02,334,2223,100.0,14.94,8.9065
33987,259,120,42.0066,0.8405,100.0,445.00,549.42,1351.13,1123.86,3.91,...,130.74,2388.31,8108.48,9.3542,0.02,332,2212,100.0,10.57,6.4075
33988,259,121,42.0061,0.8400,100.0,445.00,549.65,1349.14,1118.91,3.91,...,130.96,2388.34,8098.77,9.3836,0.02,331,2212,100.0,10.57,6.4805
33989,259,122,0.0024,0.0003,100.0,518.67,642.58,1589.61,1408.16,14.62,...,522.25,2388.00,8161.85,8.4279,0.03,393,2388,100.0,39.08,23.3589
33990,259,123,42.0033,0.8400,100.0,445.00,549.77,1342.50,1126.96,3.91,...,130.93,2388.40,8105.28,9.3458,0.02,331,2212,100.0,10.63,6.3480

In [53]:
df_RUL2

     RUL
0     18
1     79
2    106
3    110
4     15
..   ...
254  122
255  191
256   56
257  131
258   51

[259 rows x 1 columns]

In [57]:
df_RUL2["Engine_no"] = range(1, 260)

In [29]:
df_RUL1

    RUL
0   112
1    98
2    69
3    82
4    91
..  ...
95  137
96   82
97   59
98  117
99   20

[100 rows x 1 columns]

In [30]:
df_RUL1["Engine_no"] = range(1, 101)

In [31]:
df_RUL1

    RUL  Engine_no
0   112          1
1    98          2
2    69          3
3    82          4
4    91          5
..  ...        ...
95  137         96
96   82         97
97   59         98
98  117         99
99   20        100

[100 rows x 2 columns]

In [32]:
df_train1['RUL_max'] = df_train1.groupby('Engine_no')['Cycle_no'].transform('max')
df_train1["RUL"] = df_train1["RUL_max"] - df_train1["Cycle_no"]

df_train1.drop("RUL_max", axis = 1, inplace = True)

In [33]:
df_test1['RUL_max'] = df_test1.groupby('Engine_no')['Cycle_no'].transform('max')
df_test1["RUL"] = df_test1["RUL_max"] - df_test1["Cycle_no"]


df_test1.drop("RUL_max", axis = 1, inplace = True)

In [37]:
train1_csv_path = 'train1.csv'
test1_csv_path = 'test1.csv'
RUL1_csv_path = 'RUL1.csv'

In [38]:
df_train1.to_csv(train1_csv_path, index=False) 
df_test1.to_csv(test1_csv_path, index=False)
df_RUL1.to_csv(RUL1_csv_path, index=False)

In [39]:
df_train1 = df_train1[['Cycle_no', 'LPC_outlet_temperature', 'HPC_outlet_temperature',
       'LPT_outlet_temperature', 'HPC_outlet_pressure', 'Physical_fan_speed',
       'HPC_outlet_static_pressure', 'Fuel_flow_ratio', 'Fan_speed',
       'Bypass_ratio', 'Bleed_enthalpy', 'High_pressure_cool_air_flow',
       'Low_pressure_cool_air_flow', 'RUL']]

In [40]:
df_test1 = df_test1[['Cycle_no', 'LPC_outlet_temperature', 'HPC_outlet_temperature',
       'LPT_outlet_temperature', 'HPC_outlet_pressure', 'Physical_fan_speed',
       'HPC_outlet_static_pressure', 'Fuel_flow_ratio', 'Fan_speed',
       'Bypass_ratio', 'Bleed_enthalpy', 'High_pressure_cool_air_flow',
       'Low_pressure_cool_air_flow', 'RUL']]

In [41]:
df_train1["RUL"][df_train1["RUL"]>125] = 125

C:\Users\Ayush Gandhi\AppData\Local\Temp\ipykernel_11128\3125268519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train1["RUL"][df_train1["RUL"]>125] = 125

In [42]:
df_test1["RUL"][df_test1["RUL"]>125] = 125

C:\Users\Ayush Gandhi\AppData\Local\Temp\ipykernel_11128\1259539093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test1["RUL"][df_test1["RUL"]>125] = 125

In [43]:
x_train = df_train1.iloc[:, :-1]
y_train = df_train1.iloc[:, -1]

x_test = df_test1.iloc[:, :-1]
y_test = df_test1.iloc[:, -1]

In [44]:
from sklearn.ensemble import GradientBoostingRegressor

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
sc = MinMaxScaler()
x_train = sc.fit_transform(x_train)

In [47]:
x_test = sc.transform(x_test)

In [48]:
model = GradientBoostingRegressor()

In [49]:
model.fit(x_train, y_train)

GradientBoostingRegressor()

In [50]:
y_pred = model.predict(x_test)

In [51]:
from sklearn.metrics import  mean_squared_error,r2_score, mean_absolute_percentage_error

In [52]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Mean squared error: {mse}")
print(f"Root mean squared error: {rmse}")
print(f"R-squared score: {r2}")
print(f"mean_absolute_percentage_error: {mape}")

Mean squared error: 2538.4846590264315
Root mean squared error: 50.38337681246099
R-squared score: -0.47055560835896104
mean_absolute_percentage_error: 2530880779851922.5